@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #016FB9;
    --secondary-color: #189dbe67;
    --accent1-color: #6D8EA0;
    --accent2-color: #182825;

    --nav-background-color: #777799;
    --nav-link-color:  #009900;
    --nav-hover-link-color: #F08080;
    --nav-hover-background-color: #87CEFA;

    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Roboto Condensed', sans-serif;
   
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero-img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
}

article {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(235, 230, 224, 0.4);
    margin-top: 100px;
    padding: 10px;
}

article img {
    float: right;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

article p {
    margin: 0;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    max-width: 1000px;
    border-bottom: 1px solid #ccc;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}



.navigation {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #ccc
}

.navigation a {
    justify-content: center;
    align-items: center;
    
}

.nav-img {
    margin: 0 0.25rem 0 1rem;
	width: 90px;
	height: auto;
}

.adventures-div-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adventures-div-section img {
    max-width: 100%;
    height: auto;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px; 
  }

main h1 {
    grid-column: 1;
}

  .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.intro-contact {
    text-align: center; 
    margin-bottom: 20px;
}

  
  .intro-contact,
  .map,
  .employees-fotos,
  .contact-form {
    padding: 20px; /* Añade un espacio interno a cada sección */
  }
  
  .contact-form form {
    display: grid;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
  }
  
  
  .map {
    justify-self: center;
    margin-top: 20px;
    width: 600px;
    height: 450px;
    border: 0;
  }

  .map iframe {
    width: 100%; 
    height: 100%;
}
  
  .employees-fotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .employees-fotos figure {
    text-align: center;
  }
  
  .employees-fotos img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .employees-fotos figcaption {
    margin-top: 5px;
    font-size: 14px;
  }
  
  
  .contact-form form {
    text-align: center; 
  }
  
  .contact-form label {
    display: inline-block; 
    margin-right: 10px;
  }

  .contact-form input[type="radio"] {
    display: inline; 
}
  
  .contact-form textarea {
    width: 100%; 
  }